:root {
    --sfondo-dom: rgb(8, 59, 76);
    --sfondo-number:  rgb(19, 137, 178);
    --sfondo-fizz: rgb(12, 214, 161);
    --sfondo-buzz:  rgb(255, 209, 102);
    --sfondo-fizzbuzz: rgb(240, 70, 111);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box {
    min-width: calc(100% / 10 - 10px);
    background-color: var(--sfondo-number);
    margin: 5px;
    max-width: 100px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.fizz {
    background-color: var(--sfondo-fizz);
}
.buzz {
    background-color: var(--sfondo-buzz);
}
.fizzbuzz {
    background-color: var(--sfondo-fizzbuzz);
}